# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.vscode/
.env

test/**/logs/
test/**/data/
test/**/test_data/

test/abackup/.abackup-tmp/

test/abdata/data.yml
test/absync/sync.yml
test/absync/sync_pull.yml
test/absync/.ssh/
